/* for the lazy */


html {
  box-sizing: border-box;
  font-size: 21px;
  text-align: center
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
h1{
  font-size:25px;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ div {
  background: rgba(73,168,68,1);
  box-shadow: 0 0 2px rgba(73,168,68,1);
}

input[type="checkbox"]:checked ~ div label {
  left: 110px;
  transform: rotate(360deg);
}


/*shared*/

div,
label {
  border-radius: 50px;
}


/*'un':checked state*/

div {
  margin-top:20px;
  height: 100px;
  width: 200px;
  background: rgba(43, 43, 43, 1);
  position: relative;
  box-shadow: 0 0 2px rgba(43,43,43,1);
}

label {
  height: 80px;
  width: 80px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

label::before {
  content: '';
  height: 60px;
  width: 5px;
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 2.5px);
  transform: rotate(45deg);
}

label::after {
  content: '';
  height: 5px;
  width: 60px;
  position: absolute;
  top: calc(50% - 2.5px);
  left: calc(50% - 30px);
  transform: rotate(45deg);
}

label::before,
label::after{
  background: rgba(43,43,43,1);
  border-radius: 5px;
}

/* pesduo class on toggle */

input[type="checkbox"]:checked ~ div label::before{
  height: 50px;
  top: calc(55% - 25px);
  left: calc(60% - 2.5px);
  background: rgba(73,168,68,1);
}
input[type="checkbox"]:checked ~ div label::after{
  width: 20px;
  top: calc(95% - 25px);
  left: calc(22.5% - 2.5px);
  background: rgba(73,168,68,1);
}